.anchor {
    -fx-background-image:url('Resources/background.png');
    -fx-background-size: 100% 100%
}

.savebutton{
    -fx-background-image:url('Resources/Buttons/save_button.png');
    -fx-background-size: 100% 100%
}

.actionpanel {
    -fx-background-image:url('Resources/Buttons/actionpanel.png');
    -fx-background-size: 100% 100%
}

.drillbutton {
    -fx-background-image:url('Resources/Buttons/drill.png');
    -fx-background-size: 100% 100%
}

.buildbutton {
    -fx-background-image:url('Resources/Buttons/build.png');
    -fx-background-size: 100% 100%
}

.minebutton {
    -fx-background-image:url('Resources/Buttons/mine.png');
    -fx-background-size: 100% 100%
}

.craftbutton {
    -fx-background-image:url('Resources/Buttons/craft.png');
    -fx-background-size: 100% 100%
}

.putdownbutton {
    -fx-background-image:url('Resources/Buttons/put_down.png');
    -fx-background-size: 100% 100%
}

.putbackbutton {
    -fx-background-image:url('Resources/Buttons/put_back.png');
    -fx-background-size: 100% 100%
}

.panetest{
    -fx-border-color: red;
    -fx-border-width: 3;
    -fx-background-radius: 3;
    -fx-background-color: red;
}