.anchor {
    -fx-background-image:url('Resources/background.png');
    -fx-background-size: 100% 100%
}

.optionsbutton{
    -fx-background-image:url('Resources/options_button.png');
    -fx-background-size: 100% 100%
}

.panetest{
    -fx-border-color: #ff0000;
    -fx-border-width: 3;
    -fx-background-radius: 3;
    -fx-background-color: red;
}